---
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="/about" description="My About Page">
  <section class="container about" aria-label="About Me">
    <img
      src="/images/headshot.jpg"
      alt="My headshot"
      width="200"
      height="200"
    />
    <div class="content">
      <h1 class="h1">So Miuler, right?</h1>
      <p>
        I am Miuler, yep that's a real name. I do frontend development.
        Currently, React and Next.js are my preferred tools for building
        software, let's see what else comes along!
        <div class="flex flex-row gap-2">
          <Link
            href="mailto:miulerbm00@gmail.com"
            style="primary"
            text="Contact Me"
          />
          <Link
            href="https://miulerbm.vercel.app/"
            style="secondary"
            text="Portfolio"
            target="_blank"
          />
        </div>
      </p>
    </div>
  </section>
</MainLayout>
