---
import { Icon } from "astro-icon";
import { Counter } from "./Counter";
---

<footer>
  <div>
    <small>
      Copyright &copy; <span id="copyright"></span> | All rights reserved
    </small>
    <small>
      <a href="/rss.xml"
        >Suscribe to RSS <Icon name="tabler:rss" width="20" height="20" />
      </a>
    </small>
  </div>
</footer>

<script>
  // This is for having a component that uses client-side js for the year
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
