---

---

<footer>
  <small>
    Copyright &copy; <span id="copyright"></span> | All rights reserved
  </small>
</footer>

<script>
  // This is for having a component that uses client-side js for the year
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
