---
import MainHead from "./MainHead.astro";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

const {
  // These are default values
  title = "My Astro Blog",
  description = "My journey as a web developer",
} = Astro.props;
---

<html lang="en">
  <!-- <MainHead title={title} description={description} /> -->
  <MainHead {title} {description} />
  <body>
    <Nav />
    <slot> Default Text </slot>
    <Footer />
  </body>
</html>
